@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Count == 0)
{
    <P>No Movies are available</P>
}
else
{
    <ul>
        @foreach (var movie in Model)
        {
            <li>@movie.Name</li>
        }
    </ul>
}

