<appSettings>
  <add key="FacebookAppId" value="590358954476297"/>
  <add key="FacebookAppSecret" value="1e4b6fa6dff069cd8449adbd02c52931"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>